<!DOCTYPE html>
<html>
  <head>
    <title>Keshav's Project</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/quickblox/2.12.2/quickblox.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <%= alertify_flash(wait: 5) %>
  </head>

  <body>
    <ion-modal-view>
   <ion-header>
       <div class="bar bar-header custom-header">
           <div class="h1 title">On Call</div>
       </div>
   </ion-header>
   <ion-pane class="custom_ion_video">
       <div class="noitems" ng-if="calltype == 'audio'">Audio call is running.</div>
       <div class="video-self" ng-if="calltype == 'video'">
           <video id="localVideo" style="width: 100%;height: 100%;background-color: #D1C4E9;" class="self"></video>
       </div>

       <div class="video-block" ng-if="calltype == 'video'">
           
           <video  id="main_video" style="width: 100%;height: calc(100vh - 140px);padding-top:0px;background-color: #D1C4E9;" class="other">
           </video>
       </div>
   </ion-pane>
   <ion-footer>
       <div class="video-call-btn" ng-click="closeModal()">
           <span class="video-player"><img src="img/callicon.png"></span>
       </div>
   </ion-footer>
</ion-modal-view>
    <%= yield %>
  </body>
</html>
